*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 600px;
  margin-bottom: 60px;



}
.insurance-list{
  display: flex;
  margin-top: 120px;

}
.heading{
  position: absolute;
  top: 40px;
  left: 490px;
  text-align: center;
  font-size: 40px;

}

.list{

  /* display: flex; */
  justify-content: center;
  padding: 20px;

}
.list-box{
position: absolute;
left: 500px;
  /* display:flex ; */
  text-align: center;
  min-width: 300px;
  min-height: 200px;
  border: 2px solid black;

}
.buttons{
  position: absolute;
  top: 350px;
  left: 580px;
  /* justify-content: space-between; */
}
.btn{
  width: 80px;
  height: 40px;
}