*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 600px;
  margin-bottom: 60px;



}
.insurance-list{
  display: flex;
  margin-top: 120px;

}
.heading{
  position: absolute;
  top: 40px;
  left: 520px;
  text-align: center;
  font-size: 40px;
}

.list{

  /* display: flex; */
  justify-content: center;
  padding: 20px;

}
.list-box{
position: absolute;
left: 500px;
  /* display:flex ; */
  text-align: center;
  width: 400px;
  min-height: 200px;
  border: 1px solid black;
  font-family: 'Times New Roman' ;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 10px 10px 20px black;


}
.buttons{
  position: absolute;
  top: 350px;
  left: 580px;
  padding: 10px 2px;
  /* justify-content: space-between; */
}
.btn{
  width: 80px;
  min-height: 40px;
  font-size: 40px;
  font-weight: bold;
}